<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand me-3">On the List App</a>
        <% if (signedIn) {%>
            <a href="/watchlists/mine" class="nav-link me-3 userColor"><%= username.charAt(0).toUpperCase() + username.slice(1) %>'s Watchlists</a>
        <% } %>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse me-3">
            <% if (signedIn) {%>
                <a href="/watchlists/new" class="nav-link text-light me-3">Create A Watchlist</a>
                <a href="/movies/popular" class="nav-link text-light me-3">Popular Movies</a>
                <a href="/users/signout" class="nav-link text-light me-3">Sign Out</a>
                <form action="/movies/search" method="get" class="d-flex" role="search">
                    <input class="form-control me-2" type="text" id="query" name="query" placeholder="Search Movies" aria-label="Search" required>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            <%} else {%>
                <a href="/movies/popular" class="nav-link text-light me-3">Popular Movies</a>
                <a href="/users/signup" class="nav-link text-light me-3">Sign Up</a>
                <a href="/users/signin" class="nav-link text-light me-3">Sign In</a>
            <% } %>
        </div>
        
    </div>
</nav>