<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand me-auto">On the List App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if (signedIn) {%>
                <li class="nav-item">
                    <a href="/watchlists/mine" class="nav-link userColor"><%= username.charAt(0).toUpperCase() + username.slice(1) %>'s Watchlists</a>
                </li>
                <li class="nav-item">
                    <a href="/watchlists/new" class="nav-link text-light">Create A Watchlist</a>
                </li>
                <li class="nav-item">
                    <a href="/movies/popular" class="nav-link text-light">Popular Movies</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signout" class="nav-link text-light">Sign Out</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/movies/popular" class="nav-link text-light">Popular Movies</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signup" class="nav-link text-light">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signin" class="nav-link text-light">Sign In</a>
                </li>
            <% } %>
                <li class="nav-item">
                    <form action="/movies/search" method="get" class="d-flex" role="search">
                        <input class="form-control me-2" type="text" id="query" name="query" placeholder="Search Movies" aria-label="Search" required>
                        <button class="btn btn-color" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>