<%- include('./partials/header') %>

    <div class="container">
        <h1 class="homeH1">On the List: a place for all the movie watchlists your heart desires</h1>
    </div>

<%- include('./partials/footer') %>