body {
    background-color: rgb(2, 9, 14);
}

.navbar {
    background-color: rgb(5, 27, 46);
}

.userColor {
    color: rgb(0, 195, 255);
}

.movieCard {
    background-color: rgba(2, 9, 14, 0);
    color: white;
    border: none;
    text-align: center;
}

h5 {
    font-size: small;
}

.lightOdark {
    color: white;
}

h1 {
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.LHeader {
    font-size: 5vmin;
    text-align: center;
    color: #fff;
    padding-top: 15vmin;
    padding-bottom: 5vmin;
}

.homeH1 {
    margin-top: 45vh;
    transform: translateY(-50%);
    font-size: 5vw;
}

.wList {
    text-align: center;
    color: rgb(0, 195, 255);
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.mList {
    text-align: left;
    color: rgb(0, 195, 255);
    border: none;
    padding-left: 1rem;
}

.padleft {
    padding: 0 15vw;
}

.leftalign {
    text-align: left;
}

a {
    text-decoration: none;
}

.space {
    padding: 0 18vw;
}

.addMovies {
    text-align: center;
    color: white;
}

.wUpdate {
    display: block;
    margin: auto;
    margin-top: 20vh;
    width: 40%;
}

.wUpdateB {
    display: block;
    margin: 0 auto;
}

.indexDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------- show page ------------------------ */
.movie-details {
    margin: 10vw;
    color: white;
}

.btn-color {
    background-color: rgb(0, 195, 255);
}

.btn-color:hover {
    background-color: #fff;
    color: black;
}

/* .btn-color-outline {
    background-color: rgb(0, 195, 255);
}

.btn-color-outline:hover {
    background-color: #fff;
    color: black;
} */