<%- include('../partials/header') %>

    <h1>My Watchlists</h1>
    
    <!-- Watchlists -->
    <div class="container center">
        <div class="container row text-left">
            <% watchlists.forEach(function(w) {%>
                <div class="card mt-2 me-2 listCard">
                    <div class="card-body">
                        <h5 class="card-title"><%= w.title %></h5>
                        <a href="/watchlists/<%= w.id %>" class="card-link">View List</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <!-- Add New Watchlist Form -->
    <form method="POST" action="/watchlists">
        <div class="mb-3 m-4">
            <label for="name" class="form-label lightOdark">Watchlist Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Watchlist</button>
    </form>

<%- include('../partials/footer') %>
