<%- include('../partials/header') %>

<style>
    .transparent-card {
        background-color: rgba(255, 255, 255, 0);
    }
    @media (max-width: 768px) {
        .mx-mobile-0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
</style>

<h2 class="LHeader text-center mt-3">My Watchlists</h2>

<!-- Watchlists -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <% watchlists.forEach(function(w) {%>
            <!-- Adjust grid classes for responsiveness -->
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card listCard w-100 transparent-card">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <a href="/watchlists/<%= w.id %>" class="card-link">
                            <h4 class="card-title wList"><%= w.title %></h4>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<!-- Add New Watchlist Form -->
<form method="POST" action="/watchlists" class="mt-4 mb-5 mx-mobile-0">
    <div class="d-flex align-items-center g-2 justify-content-center mx-5">
        <div class="flex-grow-1 me-2">
            <input type="text" class="form-control" id="name" name="name" placeholder="Watchlist Name" required>
        </div>
        <button type="submit" class="btn btn-color">Create</button>
    </div>
</form>

<%- include('../partials/footer') %>
