<%- include('../partials/header') %>

    <h2 class="LHeader text-center mt-3">Create New Watchlist</h2>

    <form method="POST" action="/watchlists" class="mx-5">
        <div class="d-flex align-items-center g-2">
            <div class="flex-grow-1 me-2">
                <input type="text" class="form-control" id="name" name="name" placeholder="Watchlist Name" required>
            </div>
            <button type="submit" class="btn btn-color">Create</button>
        </div>
    </form>

<%- include('../partials/footer') %>