<%- include('../partials/header') %>

    <h1 class="lightOdark">Create New Watchlist</h1>

    <form method="POST" action="/watchlists">
        <div class="mb-3">
            <label for="name" class="form-label lightOdark">Watchlist Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Watchlist</button>
    </form>

<%- include('../partials/footer') %>