<%- include('../partials/header') %>

    <h1 class="lightOdark">Create New Watchlist</h1>

    <form method="POST" action="/watchlists/mine" class="mx-5">
        <div class="d-flex align-items-center g-2">
            <div class="flex-grow-1 me-2">
                <input type="text" class="form-control" id="name" name="name" placeholder="Watchlist Name" required>
            </div>
            <button type="submit" class="btn btn-color">Create Watchlist</button>
        </div>
    </form>

<%- include('../partials/footer') %>