<%- include('../partials/header') %>

    <% if (watchlist) { %>
        <h1><%= watchlist.title %></h1>

        <% if (watchlist.movies && watchlist.movies.length > 0) { %>
            <ul>
                <% watchlist.movies.forEach(movie => { %>
                    <li><%= movie.title %></li> <!-- Accessing the movie title -->
                <% }) %>
            </ul>
        <% } else { %>
            <p>No movies in this watchlist yet.</p>
        <% } %>

    <% } else { %>
        <p>Watchlist not found.</p>
    <% } %>

<%- include('../partials/footer') %>